# compiled code
/build

# dependences
/node_modules

# env
.env

# downloaded videos
videos/*

# It needs to be named
client_secret.json
quickstart.js
yarn.lock
youtube-nodejs-quickstart.json
/access_tokens/*
parser_v2/ffmpeg.exe
parser_v2/ffprobe.exe
parser_v2/yt-dlp.exe
/channels
/photo_shop
