# compiled code
/build

# dependences
/node_modules

# env
.env

# downloaded videos
videos/*

# It needs to be named
client_secret.json
quickstart.js
yarn.lock
youtube-nodejs-quickstart.json
/access_tokens/*
/utilities
/channels
/photo_shop
/r_videos
/d_videos
