# compiled code
/build

# dependences
/node_modules
/apps/yt_loader/utilities

# env
.env

# img
img_to_remove_gs/
img_without_gs/
apps/preview/helpers/bimba_faces
apps/preview/helpers/blanks
apps/preview/helpers/number_chars

# videos
/apps/yt_loader/r_videos
/apps/yt_loader/d_videos

# other
yarn.lock
/channels
apps/preview/helpers/ps
