/build
/node_modules
helpers/apps/helpers/utilities
.env
yarn.lock
resources/
helpers/tik_tok
product/
helpers/apps/preview/helpers/ps
helpers/apps/preview/output
helpers/apps/preview/resources
helpers/apps/remove_gs/input
helpers/apps/remove_gs/output
idea.txt